
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 30px 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #E7F6FF;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.page-title {
  font-size: 32px;
  font-weight: 700;
}

.icon-btn {
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  transition:  0.2s ease-in-out;
  &:hover {
    border: transparent;
  }
}

.cart-btn {
  width: 100%;
  padding: 18px 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 18px;
  background-color: #9dd458;
  &:hover {
    background-color: #99ee31;
  }
}

.back-btn {
  margin-right: 20px;
  border: 2px solid #dadada;
  & svg {
    height: 16px;
    stroke-width: 3px;
  }
  &:hover {
    background-color: #dadada;
    & svg {
      stroke: #fff;
    }
  }
}

.cart-state {
  height: 100%;
  padding: 0 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  text-align: center;
  &__img {
    width: 120px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 22px;
    &--order {
      color: #87C20A;
    }
  }
  &__message {
    margin-bottom: 40px;
    color: #808080;
  }
  &__btn.base-btn {
    width: 100%;
  }
}

.empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    width: 70px;
    margin-bottom: 24px;
  }
  &__title {
    font-size: 24px;
  }
  &__message {
    margin-bottom: 40px;
    font-size: 16px;
    color: #808080;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px
}

  // banner                                           

.banner {
  padding: 60px;
  margin-bottom: 40px;

  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #F4EFE9;
  border-radius: 20px;
  &__title {
    width: 240px;
    margin: 0;
    margin-bottom: 20px;

    font-size: 38px;
    font-weight: 700;
  }
  & span {
    color: #8BB43C;
  }
  &__btn {
    width: 180px;
    padding: 14px;

    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    background: #A5D364;
    border-radius: 110px;
  }
}